@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap');


body{
    background-color: rgb(18, 19, 22);
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.app{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

#app-title{
    font-size: 38px;
    letter-spacing: 15px;
    font-family: 'Roboto Mono', monospace;
}

#info{
    color: rgb(148, 148, 148);
    font-size: 14px;
}

#login-button{
    background-color: rgb(0, 50, 70);
    border: none;
    border-radius: 20px;
    color: rgb(255, 197, 109);
    font-size: 16px;
    justify-content: center;
    margin: auto;
    outline: none;
    padding: 20px 40px 20px 40px;
    transition-duration: 0.35s;
    width: fit-content;
}

#login-button:hover{
    background-color: rgb(0, 50, 70, 0.5);
    color: rgb(255, 197, 109, 0.75);
    cursor: pointer;
}

#add-password-button{
    background-color: rgb(0, 50, 70);
    border: none;
    border-radius: 20px;
    color: rgb(255, 197, 109);
    font-size: 12px;
    justify-content: center;
    margin: 5% auto 10% auto;
    outline: none;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition-duration: 0.35s;
    width: 25%;
}

#add-password-button:hover{
    background-color: rgb(0, 50, 70, 0.5);
    color: rgb(255, 197, 109, 0.75);
    cursor: pointer;
}

  
#password-accessor{
    -ms-overflow-style: none;
    background-color: rgb(20, 20, 20);
    border-color: rgb(67, 75, 83);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    height: fit-content;
    justify-content: center;
    margin: auto;
    padding: 30px;
    position:relative;
    scrollbar-width: none;
    width: 500px;
}

#passwords{
    margin-top: 20px;
    margin-left: 10%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(67, 75, 83);
    height: 200px;
    width: 80%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#passwords::-webkit-scrollbar {
    display: none;
  }

.password{
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    padding: 0;
    width: 80%;
    position: relative;
    justify-content: center;
    
}


.log-in-info{
    color: rgb(148, 148, 148);
}


.log-in-website{
    border-radius: 5px;
    transition-duration: 0.3s;
    width: 100%;
    height: 100%;
    border: hidden;
    background-color: rgb(148, 148, 148);
    border-width: 1px;
    position: absolute;
    top: 0;
    justify-items: center;
}

#addpasswordbox{
}

.infoinput{
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    color: white;
   

}