@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body{
    background-color: rgb(44, 47, 54);
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.app{
    color: rgb(255, 255, 255);
}

.info{
    color: rgb(148, 148, 148);
    font-size: 14px;
}

#loginbutton{
    background-color: rgba(111, 49, 21, 0.44);
    border: none;
    border-radius: 20px;
    color: rgb(255, 197, 109);
    font-size: 16px;
    justify-content: center;
    margin: auto;
    outline: none;
    padding: 20px;
    transition-duration: 0.35s;
    width: 15%;
}

#loginbutton:hover{
    background-color: rgba(77, 34, 15, 0.44);
    cursor: pointer;
}

.passwords::-webkit-scrollbar {
    display: none;
  }

#loginsites{
    -ms-overflow-style: none;
    background-color: rgb(35, 35, 35);
    border-color: rgba(255, 197, 109, 0.4);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: rgb(255, 197, 109);
    height: max-content;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    scrollbar-width: none;
    width: 80%;
}

.modbutton{
    background-color: rgba(111, 49, 21, 0.44);
    border: none;
    border-radius: 20px;
    color: rgb(255, 197, 109);
    font-size: 12px;
    justify-content: center;
    margin: auto;
    outline: none;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition-duration: 0.35s;
    width: 25%;
}

.modbutton:hover{
    background-color: rgba(77, 34, 15, 0.44);
    cursor: pointer;
}

  
.passwords{
    -ms-overflow-style: none;
    background-color: rgb(20, 20, 20);
    border-color: rgb(67, 75, 83);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    height: 400px;
    justify-content: center;
    margin: auto;
    position:relative;
    scrollbar-width: none;
    width: 30%;
}

.password{
    border-color: rgba(255, 197, 109, 0.4);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    padding: 10px;
    padding-right: 120px;
    width: 50%;
}



.login-site{
    
}

.login-info{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    
}

.userpass{
    color: rgb(255, 197, 109, 0.6);
    padding-left: 0;
    position: relative;
    
}
