@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap');


body{
    background-color: rgb(18, 19, 22);
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.app{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

#apptitle{
    font-size: 38px;
    letter-spacing: 15px;
    font-family: 'Roboto Mono', monospace;
}

.info{
    color: rgb(148, 148, 148);
    font-size: 14px;
}

#loginbutton{
    background-color: rgb(0, 50, 70);
    border: none;
    border-radius: 20px;
    color: rgb(255, 197, 109);
    font-size: 16px;
    justify-content: center;
    margin: auto;
    outline: none;
    padding: 20px;
    transition-duration: 0.35s;
    width: 15%;
}

#loginbutton:hover{
    background-color: rgb(0, 50, 70, 0.5);
    color: rgb(255, 197, 109, 0.75);
    cursor: pointer;
}

#choosesite{
    background-color: rgb(35, 35, 35);
    border-color: rgba(255, 197, 109, 0.25);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: rgb(255, 197, 109);
    margin: auto;
    margin-top: 3.5%;
    outline: none;
    padding: 8px;
    transition-duration: 0.35s;
    width: 80%;
}



#choosesite:hover{
    background-color: rgba(35, 35, 35, 0.5);
    color: rgb(255, 197, 109, 0.75);
    cursor: pointer;
}

.modbutton{
    background-color: rgb(0, 50, 70);
    border: none;
    border-radius: 20px;
    color: rgb(255, 197, 109);
    font-size: 12px;
    justify-content: center;
    margin: auto;
    outline: none;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition-duration: 0.35s;
    width: 25%;
}

.modbutton:hover{
    background-color: rgb(0, 50, 70, 0.5);
    color: rgb(255, 197, 109, 0.75);
    cursor: pointer;
}

  
#passwords{
    -ms-overflow-style: none;
    background-color: rgb(20, 20, 20);
    border-color: rgb(67, 75, 83);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    height: 400px;
    justify-content: center;
    margin: auto;
    position:relative;
    scrollbar-width: none;
    width: 30%;
}

.siteselection{
    background-color: rgb(20, 20, 20);
    border-color: rgb(255, 197, 109, 0.5);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    border-style: solid;
    -ms-overflow-style: none;
    scrollbar-width: none;
		visibility: hidden;
}

.siteselection::-webkit-scrollbar {
    display: none;
  }

.site{
    border-bottom: solid;
    height: 23%;
    border-width: 1px;
    padding: 0;
    border-color: rgb(255, 197, 109, 0.5);
    font-size: 20px;
    padding-top: 8%;
}
.site:hover{
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.password{
    border-color: rgba(255, 197, 109, 0.4);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    padding: 10px;
    padding-right: 120px;
    width: 50%;
}



.login-site{
    
}

.login-info{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    
}

.userpass{
    color: rgb(255, 197, 109, 0.6);
    padding-left: 0;
    position: relative;
    
}
