@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


.app{
    color: rgb(255, 255, 255);
    background-color: rgb(44, 47, 54);
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.password{
    
}

.login-site{

}

.login-info{

}